<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Client" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.ContentModel" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Frameworks" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Logging" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Packaging" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Packaging.Core" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Packaging.Core.Types" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Repositories" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.RuntimeModel" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
  <package id="NuGet.Versioning" version="3.3.0" targetFramework="net45" requireReinstallation="True" />
</packages>